/*login page*/
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;
  background-color:white;
  font-family: Arial, sans-serif;
}
.login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.login-button{
  background-color: #0ebb37;
  border: #0ebb37;
  padding: 10px;
  border-radius: 8px;
}
.account-create-link{
  color:  #0ebb37;
  text-decoration: underline;
}

/* Header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8caed0; /* Light background color for the header */
  border-bottom: 1px solid #e0e0e0; 
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  display: flex;
  justify-content: space-around; 
  flex-grow: 1;
 
}
nav a {
  text-decoration: none;
  color:black; 
  font-size: 16px;
  padding: 0 15px; 
}
nav a:hover {
  text-decoration: none;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info span {
  font-size: 16px;
  color: black;
}
.user-info button {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.user-info button:hover {
  background-color: #0056b3; 
}

.heading {
  display: block;
 
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 18px; 
  padding: 10px; 
  background-color: #c6ed14; 
  border: 1px solid #e0e0e0; 
  font-weight: bold;
  text-align: left; 
}
p {
font-size: 18px;
text-align: center;
margin: 0;
}
/*createempl*/



.radio-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
 
}
.radio-checkbox label {
  display: flex;
  align-items: center; 
  gap: 5px; 
}

.submit:hover {
  background-color: #0056b3;
}

.createEmp-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family:  Arial;
}


.from-container{
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit{
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/*emplist*/

.table-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 0px solid #ddd;
  border-radius: 8px;
  background-color:white;
  font-family: Arial, sans-serif;
}
.table-heading{
background-color: #007bff;
}

.search-container {
  margin-bottom: 20px; 
  display: flex;
 justify-content: right;
 align-items: center;
  gap: 10px; 
}

.search-container label {
  font-weight: bold;
   
}
.create-button{
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: #0ebb37;
}


.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

th {
  background-color: #94c0ef;
  font-weight: bold;
}
.pagesize{
  display: none;
  visibility: hidden;
}



.edit-button,.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: #dee3e8;
}

button:hover {
  opacity: 0.8;
}
.email{
  color: #007bff;
  text-decoration: underline;
}